# .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/
*.dbmdl
*.pdb
*.cache
*.log

# ASP.NET Core
appsettings.*.json
appsettings.Development.json
appsettings.Local.json
secrets.json

# EF Core
Migrations/

# Angular
/client/node_modules/
/client/dist/
/client/.angular/
/client/.output/
/client/package-lock.json/

# Environment files
/client/src/environments/*.ts
!/client/src/environments/environment.ts

# npm logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS and IDEs
.DS_Store
Thumbs.db
*.swp
*.swo
.idea/
*.code-workspace

# VSCode
.vscode/
